<%= turbo_frame_tag [dom_id(shelter), "popup"].join("_") do %>

  <%# POPUP STYLING %>
  <div class="w-60 h-60
            bg-gray-900
            rounded-lg
            border-zinc-800 shadow-md
            text-white text-sm
            p-4"
            >

    <%# HEADER %>
    <%# HEADER BACKGROUND %>
    <div class="bg-primary-900/65  rounded-lg
              border-2 border-primary-900
              py-2 px-3 flex gap-x-1.5 sm:gap-x-2
              text-center">

      <%# SHELTER NAME TEXT %>
      <h5 class="text-primary-100">
        <%= shelter.name %>
      </h5>
    </div>

    <%# SHELTER DATA %>

    <div class="columns-2">
      <div>
        <%= render DonutGraphComponent.new(
          displayed_value: @shelter.last_headcount,
          max_value: @shelter.max_headcount,
          primary_color: "bg-primary-900",
          secondary_color: "bg-gray-900"
        )%>
      </div>
      <div>
        <%= render DonutGraphComponent.new(
          displayed_value: @shelter.last_headcount,
          max_value: @shelter.max_headcount,
          primary_color: "bg-primary-500",
          secondary_color: "bg-gray-900"
        )%>
      </div>
    </div>
  </div>


<% end %>
