.cache/
build/
public/assets/
node_modules/
db/schema.rb
app/assets/build
bin/
log/
tmp/
storage/
vendor/
sorbet/rbi/sorbet-typed/
sorbet/rbi/gems/
sorbet/rbi/dsl/
package-lock.json
yarn.lock
*.generated.ts
