

<div class="flex items-center justify-center" x-data="{ circumference: 2 * 22 / 7 * 120 }">
    <svg class="transform -rotate-90" id="donut_graph">
          <circle cx="30" cy="30" r="15" stroke="currentColor" stroke-width="2"
            fill="transparent"
            class="<%= @primary_color %>" />

        <circle cx="30" cy="30" r="15" stroke="currentColor" stroke-width="2" fill="transparent"
            :stroke-dasharray="circumference"
            :stroke-dashoffset="circumference - 1 / 100 * circumference"
            class="<%= @secondary_color %> " />
    </svg>

</div>
<script>
    document.addEventListener('alpine:init', () => {
      var donut_graph = document.getElementById('donut_graph')
      var donut_graph_positionInfo = element.getBoundingClientRect();
      var donut_graph_height = positionInfo.width;
      console.log("Width of donut graph bounding box is: ", donut_graph_height)

        Alpine.data('skillDisplay', () => ({
            skills: [{
                    'title': 'HTML',
                    'percent': '95',
                },
                {
                    'title': 'CSS',
                    'percent': '70',
                },
                {
                    'title': 'Tailwind CSS',
                    'percent': '90',
                },
                {
                    'title': 'JavaScript',
                    'percent': '70',
                },
                {
                    'title': 'Alpine JS',
                    'percent': '80',
                }, {
                    'title': 'PHP',
                    'percent': '65',
                }, {
                    'title': 'Laravel',
                    'percent': '75',
                }
            ],
            currentSkill: {
                'title': 'HTML',
                'percent': '95',
            }
        }));
    });
</script>
