@layer components {
  .form-input {
    @apply rounded-md bg-zinc-700/20 border-zinc-700;
    @apply placeholder:text-zinc-500;

    &[type="checkbox"],
    &[type="radio"] {
      @apply mr-1;
    }

    &:focus {
      @apply border-transparent ring-primary-800;
    }

    &:autofill {
      @apply !border-secondary-800 transition-colors;
      -webkit-text-fill-color: theme("colors.zinc.200");
      -webkit-box-shadow: 0 0 0px 1000px #18210d inset;
    }
  }

  .border {
    border-color: theme("colors.zinc.700");
  }

  .btn {
    @apply block px-3 py-1.5 border rounded-md cursor-pointer font-semibold text-center transition-opacity hover:opacity-80 disabled:opacity-50 disabled:cursor-not-allowed;
    @apply border-zinc-700 bg-zinc-700/20 text-zinc-500;
  }
  .btn-sm {
    @apply px-2 py-0.5 text-sm;
  }
  .btn-primary {
    @apply border-primary-700 bg-primary-700/20 text-primary-500;
  }
  .btn-secondary {
    @apply border-secondary-700 bg-secondary-700/20 text-secondary-500;
  }
  .btn-danger {
    @apply border-red-700 bg-red-700/20 text-red-500;
  }

  .link {
    @apply text-primary-500 transition-opacity hover:opacity-80 hover:underline;
  }

  .alert {
    @apply p-2 border rounded-md text-sm;
    @apply border-zinc-800 bg-black text-zinc-400;
  }
  .alert-success {
    @apply border-lime-900 bg-lime-900/20 text-lime-400;
  }
  .alert-danger {
    @apply border-red-900 bg-red-900/20 text-red-400;
  }

  .section-lg {
    @apply container mx-auto max-w-2xl;
  }

  .section {
    @apply container mx-auto max-w-xl;
  }

  .section-sm {
    @apply container mx-auto max-w-lg;
  }

  .section-xs {
    @apply container mx-auto max-w-md;
  }

  .layout {
    @apply flex-1 p-4 sm:p-8;
    @apply flex flex-col gap-y-4;
  }
}
