/*
 *= require_relative ./normalize.css
 *= require_relative ./lib/action_text.css
 *= require_relative ./lib/trix.css
 */

body {
  color: #374151;
  line-height: 18px;
}

a {
  color: #6366f1;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin-bottom: 0;
}

p {
  margin-top: 5px;
}

ul.unstyled {
  list-style-type: none;
  padding-inline-start: 0;
}
