<div class="layout">
  <section class="section flex flex-col gap-y-2">
    <h1>Signals</h1>
    <div id="signals" class="flex flex-col gap-y-2">
      <ul>
        <% @signals.each do |signal| %>
          <li>
            <%= link_to signal.name, signal, class: "link" %>
          </li>
        <% end %>
      </ul>
      <%= link_to(
        "New Signal",
        [ShelterSignal, action: :new],
        class: "self-start btn btn-primary",
      ) if signed_in? %>
    </div>
  </section>
</div>
