<div>
  <div> Loading... </div>
  <%= turbo_frame_tag dom_id(ApiKey.new) do %>
    <%= render ApiKeyFormComponent.new(api_key: @api_key,
                                      shelter_signal: @shelter_signal
                                      ) %>
  <% end %>
</div>
